@import "tailwindcss";

:root {
  --background: #ff1a30;
  --foreground: #ffffff;
}

@theme inline {
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffcccc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
